@page
@model moment1_2.Pages.aboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<div class="textcenter">
    <h2>Jag som utvecklare</h2>
    <p>Den här sidan är skapad av mig Felicia Gillström som läser sista året på programmet Webbutveckling på Mittuniversitetet. 
        Jag kan personlig uttrycka att ja inte är den vassaste kniven i lådan när det gäller allt det vi lär oss men nog fan ska de nog gå på nått sätt!
        </p>
</div>