@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="textcenter">
    <h1 class="display-4">Moment 1.2</h1>
    <p>Här presenterar jag mitt första test att köra AP.net med razor-pages. Det blir spännande att se hur bra det här kommer gå!
        Det största problemet ja stötte på var att försöka lösa CSS:n då vi hade wireframes att gå efter. Misstaget jag gjode var att ta en färdig webbsite fil isället för att 
        blörja om ifrån scratch med att skapa alla filer och ge till tillgåpng att använda razorpages osv. Boothstrap hade helt klart sitt järngrepp om den här designen.
    </p>
</div>
